@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

/* Navigation Bar */

nav {
  font-family: 'Montserrat';
  font-weight: 500;
  background-color: #CCE1FF;
}

@media screen and (max-width: 1401px) {
  nav {
    font-size: 90%;
  }
}

@media screen and (max-width: 1301px) {
  nav {
    font-size: 85%;
  }
}

@media screen and (max-width: 1199px) {
  nav {
    font-size: 100%;
  }
}






#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}










/* Background Picture */

#carouselExampleCaptions .carousel-item.hero{
  background-image:url("Pictures/AdobeStock_195305536.jpeg");
  height: 45vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1700px) {
  #carouselExampleCaptions .carousel-item.hero{
    background-image:url("Pictures/AdobeStock_195305536.jpeg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1500px) {
  #carouselExampleCaptions .carousel-item.hero{
    background-image:url("Pictures/AdobeStock_195305536.jpeg");
    height: 75vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1300px) {
  #carouselExampleCaptions .carousel-item.hero{
    background-image:url("Pictures/AdobeStock_195305536.jpeg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1100px) {
  #carouselExampleCaptions .carousel-item.hero{
    background-image:url("Pictures/AdobeStock_195305536.jpeg");
    height: 65vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 900px) {
  #carouselExampleCaptions .carousel-item.hero{
    background-image:url("Pictures/AdobeStock_195305536.jpeg");
    height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  #carouselExampleCaptions .carousel-item.hero{
    background-image:url("Pictures/AdobeStock_195305536.jpeg");
    height: 55vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  #carouselExampleCaptions .carousel-item.hero{
    background-image:url("Pictures/AdobeStock_195305536.jpeg");
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}







/* First Slide */

@media screen and (max-width: 1700px) {
  #carouselExampleCaptions .carousel-item.hero1{
    background-image:url("Pictures/slide1.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1500px) {
  #carouselExampleCaptions .carousel-item.hero1{
    background-image:url("Pictures/slide1.jpg");
    height: 75vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1300px) {
  #carouselExampleCaptions .carousel-item.hero1{
    background-image:url("Pictures/slide1.jpg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1100px) {
  #carouselExampleCaptions .carousel-item.hero1{
    background-image:url("Pictures/slide1.jpg");
    height: 65vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 900px) {
  #carouselExampleCaptions .carousel-item.hero1{
    background-image:url("Pictures/slide1.jpg");
    height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  #carouselExampleCaptions .carousel-item.hero1{
    background-image:url("Pictures/slide1.jpg");
    height: 55vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  #carouselExampleCaptions .carousel-item.hero1{
    background-image:url("Pictures/slide1.jpg");
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}









/* Second Slide */

@media screen and (max-width: 1700px) {
  #carouselExampleCaptions .carousel-item.hero2{
    background-image:url("Pictures/slide2.png");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1500px) {
  #carouselExampleCaptions .carousel-item.hero2{
    background-image:url("Pictures/AdobeStock_483585045.jpeg");
    height: 75vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1300px) {
  #carouselExampleCaptions .carousel-item.hero2{
    background-image:url("Pictures/AdobeStock_483585045.jpeg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1100px) {
  #carouselExampleCaptions .carousel-item.hero2{
    background-image:url("Pictures/AdobeStock_483585045.jpeg");
    height: 65vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 900px) {
  #carouselExampleCaptions .carousel-item.hero2{
    background-image:url("Pictures/AdobeStock_483585045.jpeg");
    height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  #carouselExampleCaptions .carousel-item.hero2{
    background-image:url("Pictures/AdobeStock_483585045.jpeg");
    height: 55vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  #carouselExampleCaptions .carousel-item.hero2{
    background-image:url("Pictures/AdobeStock_483585045.jpeg");
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


/* Third Slide */

@media screen and (max-width: 1700px) {
  #carouselExampleCaptions .carousel-item.hero3{
    background-image:url("Pictures/AdobeStock_483585045.jpeg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1500px) {
  #carouselExampleCaptions .carousel-item.hero3{
    background-image:url("Pictures/trial/Slide1.png");
    height: 75vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1300px) {
  #carouselExampleCaptions .carousel-item.hero3{
    background-image:url("Pictures/trial/Slide1.png");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1100px) {
  #carouselExampleCaptions .carousel-item.hero3{
    background-image:url("Pictures/trial/Slide1.png");
    height: 65vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 900px) {
  #carouselExampleCaptions .carousel-item.hero3{
    background-image:url("Pictures/trial/Slide1.png");
    height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  #carouselExampleCaptions .carousel-item.hero3{
    background-image:url("Pictures/trial/Slide1.png");
    height: 55vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  #carouselExampleCaptions .carousel-item.hero3{
    background-image:url("Pictures/trial/Slide1.png");
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

a:hover {

}

a:active {

}
